SourceCode/Quickstart_Flows/QuickGuideFlows/Cloud_to_OPCUA.json
[{"id":"81a310d0.24f2b","type":"tab","label":"Cloud to OPCUA","disabled":false,"info":""},{"id":"849d9500.aafa48","type":"function","z":"81a310d0.24f2b","name":"","func":"var str = msg.payload.toString();\nmsg.payload = str.replace(/\\0/,\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":40,"wires":[["46c55686.b40e98","fa9081ec.6eb59"]]},{"id":"b51dc0ec.2fe0d","type":"function","z":"81a310d0.24f2b","name":"","func":"msg.topic=\"ns=4;s=Arp.Plc.Eclr/Sint1;datatype=SByte\";\n// msg.topic=\"ns=4;s=Arp.Plc.Eclr/Uint1;datatype=UInt16\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[["27d379da.ac7fb6","33776e7e.add6d2"]]},{"id":"46c55686.b40e98","type":"json","z":"81a310d0.24f2b","name":"","property":"payload","action":"","pretty":false,"x":130,"y":120,"wires":[["b51dc0ec.2fe0d"]]},{"id":"27d379da.ac7fb6","type":"OpcUa-Client","z":"81a310d0.24f2b","endpoint":"","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":640,"y":120,"wires":[[]]},{"id":"fa9081ec.6eb59","type":"debug","z":"81a310d0.24f2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":40,"wires":[]},{"id":"33776e7e.add6d2","type":"debug","z":"81a310d0.24f2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":200,"wires":[]},{"id":"61ac2f3.a2d5cd","type":"google-cloud-pubsub in","z":"81a310d0.24f2b","account":"","keyFilename":"","subscription":"","assumeJSON":false,"name":"","x":130,"y":40,"wires":[["849d9500.aafa48"]]}]