SourceCode/Quickstart_Flows/QuickGuideFlows/Cloud_to_Modbus.json
[{"id":"db8f1a5e.626918","type":"tab","label":"Cloud to Modbus Write","disabled":false,"info":""},{"id":"c1eca7a3.2d20f8","type":"function","z":"db8f1a5e.626918","name":"","func":"var str = msg.payload.toString();\nmsg.payload = str.replace(/\\0/,\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":140,"wires":[["ae2bcc46.b4a2f"]]},{"id":"ae2bcc46.b4a2f","type":"json","z":"db8f1a5e.626918","name":"","property":"payload","action":"","pretty":false,"x":390,"y":140,"wires":[["49ffc02d.2d595","8aa0f11b.c1f32"]]},{"id":"f1ef8f3c.5fb69","type":"modbusSerial out","z":"db8f1a5e.626918","port":"","slave":"1","start":"0","dtype":"holding","topic":"","name":"","x":410,"y":220,"wires":[]},{"id":"49ffc02d.2d595","type":"function","z":"db8f1a5e.626918","name":"","func":"msg.payload=[msg.payload];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":220,"wires":[["f1ef8f3c.5fb69"]]},{"id":"8aa0f11b.c1f32","type":"debug","z":"db8f1a5e.626918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":140,"wires":[]},{"id":"a20aa35a.f8c15","type":"function","z":"db8f1a5e.626918","name":"","func":"let data = msg.payload;\nmsg.payload = {\n    deviceId:\"Modbus_Test\",\n    key: \"3moeBjNZtqork6McfS6ojk+siL+RtLLL5oEuVgy4pvo=\",\n    protocol: \"amqp\",\n    data: data\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":60,"wires":[["9889c216.e86fa"]]},{"id":"9889c216.e86fa","type":"azureiothub","z":"db8f1a5e.626918","name":"Azure IoT Hub","protocol":"amqp","x":320,"y":60,"wires":[["c1eca7a3.2d20f8"]]}]