SourceCode/Quickstart_Flows/QuickGuideFlows/InfluxDB_to_AWS.json
[{"id":"7295c599.4565ac","type":"tab","label":"InfluxDB to Cloud","disabled":false,"info":""},{"id":"38888f1e.e6b3","type":"influxdb in","z":"7295c599.4565ac","influxdb":"","name":"Influx IN","query":"from(bucket: \"DemoBucket\")\n  |> range(start: -1h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"OPCUA_Dint1\" or r[\"_measurement\"] == \"OPCUA_Lreal1\" or r[\"_measurement\"] == \"OPCUA_Real1\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")","rawOutput":false,"precision":"","retentionPolicy":"","org":"DemoOrg","x":300,"y":100,"wires":[["29e4b28c.513d8e","cd8574da.e8a298","fa14f61c.27a358","ca5a3fbe.0a036"]]},{"id":"fa14f61c.27a358","type":"mqtt out","z":"7295c599.4565ac","name":"AWS","topic":"DBData","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3c714d54.fa7682","x":470,"y":160,"wires":[]},{"id":"cd8574da.e8a298","type":"function","z":"7295c599.4565ac","name":"","func":"let data = msg.payload;\nmsg.payload = {\n    deviceId:\"DemoDev2\",\n    key: \"ejQeWsxlr9aS+/aNB9pOAieb1X9JRTB5fe9l4RodYTQ=\",\n    protocol: \"amqp\",\n    data: data\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":260,"wires":[["53e4f0c9.96eef"]]},{"id":"53e4f0c9.96eef","type":"azureiothub","z":"7295c599.4565ac","name":"Azure IoT Hub","protocol":"amqp","x":660,"y":260,"wires":[[]]},{"id":"3fbde544.789efa","type":"inject","z":"7295c599.4565ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["38888f1e.e6b3"]]},{"id":"29e4b28c.513d8e","type":"debug","z":"7295c599.4565ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"ca5a3fbe.0a036","type":"google-cloud-pubsub out","z":"7295c599.4565ac","account":"","keyFilename":"","topic":"projects/active-valve-296201/topics/New80","name":"GCP","x":470,"y":340,"wires":[["3e9cbd76.eb3de2"]]},{"id":"3e9cbd76.eb3de2","type":"debug","z":"7295c599.4565ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":340,"wires":[]},{"id":"a5c6a2e2.eeea3","type":"comment","z":"7295c599.4565ac","name":"InfluxDb data to All Cloud Platforms","info":"","x":180,"y":40,"wires":[]},{"id":"3c714d54.fa7682","type":"mqtt-broker","name":"AWS Server","broker":"a3o57cof4ucnhe-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"2766522c.ae06de","clientid":"","usetls":true,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"testsub","birthQos":"0","birthPayload":"Birth messege","birthMsg":{},"closeTopic":"testsub","closeQos":"0","closePayload":"Close Message","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2766522c.ae06de","type":"tls-config","name":"AWS TLS","cert":"","key":"","ca":"","certname":"10eae8b581-certificate.pem.crt","keyname":"10eae8b581-private.pem.key","caname":"AmazonRootCA.pem","servername":"","verifyservercert":true}]