SourceCode/Quickstart_Flows/QuickGuideFlows/InfluxDB_To_Cloud.json
[{"id":"f55a93fc.5747b","type":"tab","label":"InfluxDB To Cloud","disabled":false,"info":""},{"id":"57b3f555.7af46c","type":"catch","z":"f55a93fc.5747b","name":"","scope":null,"uncaught":false,"x":180,"y":520,"wires":[["cfcce9cf.4caf08"]]},{"id":"7ff13559.16966c","type":"debug","z":"f55a93fc.5747b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":520,"wires":[]},{"id":"cfcce9cf.4caf08","type":"function","z":"f55a93fc.5747b","name":"","func":"msg.payload = {\n    msg: \"Error Caught\",\n    source: msg.error.source,\n    error: msg.error.stack\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":520,"wires":[["7ff13559.16966c"]]},{"id":"32cc0906.b04f66","type":"comment","z":"f55a93fc.5747b","name":"Catch Block","info":"","x":150,"y":460,"wires":[]},{"id":"af7c7ea5.4a454","type":"inject","z":"f55a93fc.5747b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":190,"y":120,"wires":[["b1b1266b.937a18"]]},{"id":"2b6f8f6e.93fce","type":"influxdb in","z":"f55a93fc.5747b","influxdb":"813a9fab.0b38a","name":"Influx In","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":200,"y":299,"wires":[["ad2ef270.32fd6"]]},{"id":"b1b1266b.937a18","type":"function","z":"f55a93fc.5747b","name":"Function inject to influx","func":"node.send({\"query\":\"SELECT * from holding WHERE time > now() - 2m\", \"topic\":\"holding\"});\nnode.send({\"query\":\"SELECT * from descrete WHERE time > now() - 2m\",\"topic\":\"descrete\"});\nnode.send({\"query\":\"SELECT * from Dint1 WHERE time > now() - 2m\",\"topic\":\"Dint1\"});\nnode.send({\"query\":\"SELECT * from Lreal1 WHERE time > now() - 2m\",\"topic\":\"Lreal1\"});\nnode.send({\"query\":\"SELECT * from Real1 WHERE time > now() - 2m\",\"topic\":\"Real1\"});\nnode.send({\"query\":\"SELECT * from String1 WHERE time > now() - 2m\",\"topic\":\"String1\"});","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":200,"wires":[["2b6f8f6e.93fce"]]},{"id":"ad2ef270.32fd6","type":"join","z":"f55a93fc.5747b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":210,"y":380,"wires":[["dbaaa176.8496a","a2a311e.964e9f","6ab0809d.e741b","cf939fa6.48f7e"]]},{"id":"cf939fa6.48f7e","type":"function","z":"f55a93fc.5747b","name":"","func":"let data = msg.payload;\nmsg.payload = {\n    deviceId:\"OPCUA_Test\",\n    key: \"eGrqNpWh8CmI+8IfsT7psJ4g8+wceJQ6LghJZYvnNos=\",\n    protocol: \"amqp\",\n    data: data\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":300,"wires":[["aac81591.3fca48"]]},{"id":"aac81591.3fca48","type":"azureiothub","z":"f55a93fc.5747b","name":"Azure IoT Hub","protocol":"amqp","x":720,"y":300,"wires":[[]]},{"id":"2e325a97.a591e6","type":"comment","z":"f55a93fc.5747b","name":"InfluxDb data to All Cloud Platforms","info":"","x":200,"y":60,"wires":[]},{"id":"a2a311e.964e9f","type":"mqtt out","z":"f55a93fc.5747b","name":"AWS","topic":"","qos":"","retain":"","broker":"","x":570,"y":120,"wires":[]},{"id":"6ab0809d.e741b","type":"google-cloud-pubsub out","z":"f55a93fc.5747b","account":"","keyFilename":"","topic":"","name":"GCP","x":570,"y":200,"wires":[[]]},{"id":"dbaaa176.8496a","type":"debug","z":"f55a93fc.5747b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":380,"wires":[]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"plc_database","name":"DefaultDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]