SourceCode/Quickstart_Flows/QuickGuideFlows/Modbus_To_InfluxDB.json
[{"id":"dd6b8ebb.37461","type":"tab","label":"Modbus To InfluxDB","disabled":false,"info":""},{"id":"6da87204.921c6c","type":"debug","z":"dd6b8ebb.37461","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":160,"wires":[]},{"id":"e8b860b1.0ed08","type":"modbusSerial in","z":"dd6b8ebb.37461","port":"","slaves":"","start":"","count":"","dtype":"holding","period":"60","topic":"holding","name":"Holding Register","x":180,"y":160,"wires":[["acbf7a53.b19528"]]},{"id":"acbf7a53.b19528","type":"function","z":"dd6b8ebb.37461","name":"","func":"let data = msg.payload;\nmsg.payload = data.readUInt16BE(0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":160,"wires":[["e21e628c.87f3"]]},{"id":"eeec8ac.a2b9a78","type":"catch","z":"dd6b8ebb.37461","name":"","scope":null,"uncaught":false,"x":160,"y":400,"wires":[["fd227cd3.831f5"]]},{"id":"9a0cdec7.3c369","type":"debug","z":"dd6b8ebb.37461","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":400,"wires":[]},{"id":"fd227cd3.831f5","type":"function","z":"dd6b8ebb.37461","name":"","func":"msg.payload = {\n    msg: \"Error Caught\",\n    source: msg.error.source,\n    error: msg.error.stack\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":400,"wires":[["9a0cdec7.3c369"]]},{"id":"77cf3022.4b74","type":"comment","z":"dd6b8ebb.37461","name":"Modbus to InfluxDB","info":"Data insertion from Modbus Slave to InfluxDB database for all datatypes","x":150,"y":100,"wires":[]},{"id":"d80488a5.fafde8","type":"comment","z":"dd6b8ebb.37461","name":"Catch Block","info":"","x":130,"y":340,"wires":[]},{"id":"22858b1b.7a4304","type":"modbusSerial in","z":"dd6b8ebb.37461","port":"","slaves":"","start":"","count":"","dtype":"descrete","period":60,"topic":"descrete","name":"Descrete Value","x":180,"y":220,"wires":[["a27b7465.992218"]]},{"id":"a27b7465.992218","type":"function","z":"dd6b8ebb.37461","name":"","func":"let data = msg.payload;\nmsg.payload = data.readInt8(0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["e21e628c.87f3"]]},{"id":"e21e628c.87f3","type":"join","z":"dd6b8ebb.37461","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":160,"wires":[["4fb40420.52b1ec"]]},{"id":"4fb40420.52b1ec","type":"function","z":"dd6b8ebb.37461","name":"","func":"let data = msg.payload;\nlet firstMeasurement = data[0].topic.split('/')[0];\nlet secondMeasurement = data[1].topic.split('/')[0];\nlet arr = [{\n    measurement: firstMeasurement,\n    fields: {\n        value: data[0].payload\n    },\n    tags:{\n        location: firstMeasurement == 'descrete' ? \"Discrete Values\" :\"Holding Values\"\n    }\n},{\n    measurement: secondMeasurement,\n    fields: {\n        value: data[1].payload\n    },\n    tags:{\n        location: secondMeasurement == 'descrete' ? \"Discrete Values\" :\"Holding Values\"\n    }\n}\n];\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":220,"wires":[["6da87204.921c6c","a2fa3d22.67086"]]},{"id":"a2fa3d22.67086","type":"influxdb batch","z":"dd6b8ebb.37461","influxdb":"813a9fab.0b38a","precision":"","retentionPolicy":"","name":"Influx Batch","x":710,"y":220,"wires":[]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"plc_database","name":"DefaultDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]