SourceCode/Quickstart_Flows/BasicNodes/Storage_Nodes.json
[{"id":"23bbbee7.acb642","type":"tab","label":"Storage Nodes","disabled":false,"info":""},{"id":"5d48791e.c33c98","type":"file","z":"23bbbee7.acb642","name":"File Write","filename":"/opt/plcnext/apps/nodetest/testFile.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":420,"y":60,"wires":[["e7306e33.34641"]]},{"id":"a3f5a21f.18cca","type":"inject","z":"23bbbee7.acb642","name":"Inject Node","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello From Node-Red","payloadType":"str","x":170,"y":60,"wires":[["5d48791e.c33c98"]]},{"id":"e7306e33.34641","type":"debug","z":"23bbbee7.acb642","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"c7dedbe8.2cabf8","type":"file in","z":"23bbbee7.acb642","name":"File Read","filename":"/opt/plcnext/apps/nodetest/testFile.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":180,"wires":[["e7306e33.34641"]]},{"id":"6f28fd8f.b14534","type":"inject","z":"23bbbee7.acb642","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":180,"wires":[["c7dedbe8.2cabf8"]]},{"id":"f339fc8c.48481","type":"watch","z":"23bbbee7.acb642","name":"Watch Dir/File","files":"/opt/plcnext/apps/nodetest/testFile.txt","recursive":"","x":150,"y":280,"wires":[["fb7f48f5.7c7bd8"]]},{"id":"fb7f48f5.7c7bd8","type":"function","z":"23bbbee7.acb642","name":"","func":"msg.payload = \"Changed\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":280,"wires":[[]]},{"id":"13f7555a.e8dfab","type":"tail","z":"23bbbee7.acb642","name":"Tail","filetype":"text","split":"[\\r]{0,1}\\n","filename":"/opt/plcnext/apps/nodetest/testFile.txt","inputs":0,"x":270,"y":360,"wires":[["2177b208.c88e2e"]]},{"id":"2177b208.c88e2e","type":"debug","z":"23bbbee7.acb642","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":360,"wires":[]}]