SourceCode/Quickstart_Flows/Modbus/Write_data_to_Modbus_Slave.json
[{"id":"e2f807e7.b3fd48","type":"tab","label":"Write","disabled":false,"info":""},{"id":"531e8fa9.86f15","type":"modbusSerial out","z":"e2f807e7.b3fd48","port":"","slave":"4","start":"0","dtype":"coil","topic":"","name":"","x":630,"y":140,"wires":[]},{"id":"3b5afaba.25d0b6","type":"inject","z":"e2f807e7.b3fd48","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":140,"wires":[["e1188312.d86bd"]]},{"id":"e1188312.d86bd","type":"function","z":"e2f807e7.b3fd48","name":"Write coil","func":"msg.payload = [true,false,true,false,true];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":140,"wires":[["531e8fa9.86f15","935b0a.704034f8"]]},{"id":"d995e74.8427c18","type":"modbusSerial out","z":"e2f807e7.b3fd48","port":"","slave":"5","start":"0","dtype":"holding","topic":"","name":"","x":670,"y":240,"wires":[]},{"id":"6e70e702.1da788","type":"inject","z":"e2f807e7.b3fd48","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":260,"wires":[["a1a11f84.ef8d1"]]},{"id":"a1a11f84.ef8d1","type":"function","z":"e2f807e7.b3fd48","name":"Write Holding","func":"msg.payload = [65536-1,2,3,4,5,6,7,8,9,10,11,12];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":260,"wires":[["d995e74.8427c18","81a7715b.22a0a"]]},{"id":"81a7715b.22a0a","type":"debug","z":"e2f807e7.b3fd48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":320,"wires":[]},{"id":"935b0a.704034f8","type":"debug","z":"e2f807e7.b3fd48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]}]