FW_2021_ARCHIVE/SourceCode/Quickstart_Flows/AWS/Influx_to_AWS.json
[{"id":"978afde2.55494","type":"tab","label":"Influx to AWS","disabled":false,"info":""},{"id":"3af4cde9.95f7e2","type":"influxdb out","z":"978afde2.55494","influxdb":"813a9fab.0b38a","name":"Insert Data to DB","measurement":"AwsSampleData","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":220,"wires":[]},{"id":"713cd55.d44402c","type":"inject","z":"978afde2.55494","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":220,"wires":[["dfdd29c4.9491e8"]]},{"id":"dfdd29c4.9491e8","type":"function","z":"978afde2.55494","name":"","func":"msg.payload = {\n    temp:100\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":220,"wires":[["3af4cde9.95f7e2","4ca52082.16144"]]},{"id":"142b019a.b6e7ae","type":"influxdb in","z":"978afde2.55494","influxdb":"813a9fab.0b38a","name":"Fetch Data from DB","query":"SELECT * FROM \"AwsSampleData\" WHERE time > now() - 5m","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":470,"y":320,"wires":[["4ca52082.16144"]]},{"id":"183f7ba8.7a2c84","type":"inject","z":"978afde2.55494","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":320,"wires":[["142b019a.b6e7ae"]]},{"id":"4ca52082.16144","type":"mqtt out","z":"978afde2.55494","name":"","topic":"testsub","qos":"","retain":"","broker":"3c714d54.fa7682","x":720,"y":320,"wires":[]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"plc_database","name":"DefaultDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"3c714d54.fa7682","type":"mqtt-broker","name":"AWS Server","broker":"a3o57cof4ucnhe-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"2766522c.ae06de","clientid":"DemoThing","usetls":true,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"testsub","birthQos":"0","birthPayload":"Birth messege","closeTopic":"testsub","closeQos":"0","closePayload":"Close Message","willTopic":"","willQos":"0","willPayload":""},{"id":"2766522c.ae06de","type":"tls-config","name":"AWS TLS","cert":"","key":"","ca":"","certname":"75a2e553a1-certificate.pem.crt","keyname":"75a2e553a1-private.pem.key","caname":"amazonCA.pem","servername":"","verifyservercert":true}]