FW_2021_ARCHIVE/SourceCode/Quickstart_Flows/Modbus/Read_data_from_Modbus_Slave.json
[{"id":"a7d10b28.72cef8","type":"tab","label":"Read","disabled":false,"info":""},{"id":"ce8f974a.7440b8","type":"modbusSerial in","z":"a7d10b28.72cef8","port":"","slaves":"1","start":"0","count":"10","dtype":"coil","period":60,"topic":"","name":"Read data from Coil","x":250,"y":80,"wires":[["1e2f5750.031509"]]},{"id":"1e2f5750.031509","type":"debug","z":"a7d10b28.72cef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"f44443c0.a0a28","type":"modbusSerial in","z":"a7d10b28.72cef8","port":"","slaves":"2","start":"0","count":"10","dtype":"descrete","period":60,"topic":"","name":"Read from Discrete","x":270,"y":160,"wires":[["f0896cf2.b9e2"]]},{"id":"f0896cf2.b9e2","type":"debug","z":"a7d10b28.72cef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"40bbe3b4.d04c8c","type":"debug","z":"a7d10b28.72cef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":260,"wires":[]},{"id":"e50a0ae4.4e2f18","type":"modbusSerial in","z":"a7d10b28.72cef8","port":"","slaves":"3","start":"0","count":"10","dtype":"holding","period":60,"topic":"","name":"Read from Holding reg","x":260,"y":260,"wires":[["2c7a8990.5d7356","b34d92bf.00887"]]},{"id":"2c7a8990.5d7356","type":"function","z":"a7d10b28.72cef8","name":"","func":"let data = msg.payload;\n\nmsg.payload= {\n    Signed16bits:data.readInt16BE(0),\n    Signed16:data.readInt16BE(4)\n    \n}\ndata=null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":260,"wires":[["40bbe3b4.d04c8c"]]},{"id":"b34d92bf.00887","type":"debug","z":"a7d10b28.72cef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":320,"wires":[]},{"id":"b27151c2.e4fd8","type":"debug","z":"a7d10b28.72cef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":380,"wires":[]},{"id":"41ad2d64.7fe314","type":"modbusSerial in","z":"a7d10b28.72cef8","port":"","slaves":"6","start":"0","count":"10","dtype":"input","period":60,"topic":"","name":"Read from Input reg","x":250,"y":380,"wires":[["48e5c384.6cdeac","515968a6.817848"]]},{"id":"48e5c384.6cdeac","type":"debug","z":"a7d10b28.72cef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":460,"wires":[]},{"id":"515968a6.817848","type":"function","z":"a7d10b28.72cef8","name":"","func":"let data = msg.payload;\n\nmsg.payload= {\n    Signed16bits:data.readInt16BE(0),\n    Signed16:data.readInt16BE(4)\n    \n}\ndata=null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[["b27151c2.e4fd8"]]}]