FW_2021_ARCHIVE/SourceCode/Quickstart_Flows/QuickGuideFlows/OpcUa_To_InfluxDB.json
[{"id":"f31a12b5.f21b9","type":"subflow","name":"Opc Subflow","info":"","category":"","in":[{"x":160,"y":180,"wires":[{"id":"5b849e3c.0fe4c"}]}],"out":[{"x":580,"y":180,"wires":[{"id":"5b849e3c.0fe4c","port":0}]}],"env":[{"name":"Topic","type":"str","value":""},{"name":"Datatype","type":"str","value":""}],"color":"#DDAA99"},{"id":"5b849e3c.0fe4c","type":"function","z":"f31a12b5.f21b9","name":"","func":"let topic = env.get(\"Topic\");\nlet datatype= env.get(\"Datatype\");\nnode.send({\n    \"topic\": topic,\n    \"datatype\":datatype,\n    \"browserName\":`${topic}_${datatype}`\n});\n// ns=4;s=Arp.Plc.Eclr/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[[]]},{"id":"bff85562.77e368","type":"tab","label":"OpcUa To InfluxDB","disabled":false,"info":""},{"id":"67d27fef.e53b5","type":"inject","z":"bff85562.77e368","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["58621565.9b163c"]]},{"id":"8dc9a38b.a06e6","type":"debug","z":"bff85562.77e368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"58621565.9b163c","type":"OpcUa-Browser","z":"bff85562.77e368","endpoint":"","item":"","datatype":"","topic":"ns=4;s=Arp.Plc.Eclr","items":[],"x":490,"y":100,"wires":[["5577dc49.030e94"]]},{"id":"4d98a228.08434c","type":"inject","z":"bff85562.77e368","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":300,"wires":[["dd11381d.340fd8","c93711c3.22f9e","228561d5.93d78e","fa5b15e6.f3e568"]]},{"id":"1f610b34.ff5a65","type":"OpcUa-Client","z":"bff85562.77e368","endpoint":"","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":300,"y":420,"wires":[["6c6fc4a7.83665c"]]},{"id":"8c045592.ee96c8","type":"debug","z":"bff85562.77e368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":360,"wires":[]},{"id":"dd11381d.340fd8","type":"subflow:f31a12b5.f21b9","z":"bff85562.77e368","name":"r","env":[{"name":"Topic","value":"ns=4;s=Arp.Plc.Eclr/Real1","type":"str"},{"name":"Datatype","value":"Float","type":"str"},{"name":"topic","value":"ns=4;s=Arp.Plc.Eclr/Real1","type":"str"},{"name":"sequence","value":"2","type":"num"}],"x":110,"y":400,"wires":[["1f610b34.ff5a65"]]},{"id":"c93711c3.22f9e","type":"subflow:f31a12b5.f21b9","z":"bff85562.77e368","name":"lr","env":[{"name":"Topic","value":"ns=4;s=Arp.Plc.Eclr/Lreal1","type":"str"},{"name":"Datatype","value":"Double","type":"str"},{"name":"topic","value":"ns=4;s=Arp.Plc.Eclr/Lreal1","type":"str"},{"name":"sequence","value":"3","type":"num"}],"x":110,"y":440,"wires":[["1f610b34.ff5a65"]]},{"id":"5577dc49.030e94","type":"function","z":"bff85562.77e368","name":"","func":"let data = [];\nmsg.payload.forEach(d=>{\n    if(d.item.dataType !== 'Null') {\n        data.push({topic:d.item.nodeId,datatype:d.item.dataType});\n    }\n});\nmsg.payload =JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":180,"wires":[["4fa91971.c51228"]]},{"id":"6c6fc4a7.83665c","type":"join","z":"bff85562.77e368","name":"Join Opcua output in key value pair","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"browserName","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":580,"y":300,"wires":[["148e63dd.acfffc"]]},{"id":"148e63dd.acfffc","type":"function","z":"bff85562.77e368","name":"Remove unwanted text from topic ","func":"let data = msg.payload;\nmsg.payload = {};\nfor(let key in data){\n    let obj = {};\n    obj['topic'] = (key.split('_')[0]).split(\"/\")[1];\n    obj['datatype'] = key.split('_')[1];\n    if(obj['datatype'] == \"UInt64\"){\n        let part1 = `${data[key][0].toString(16)}`;\n        let part2 = `${data[key][1].toString(16)}`;\n        obj['data'] = BigInt(`0x${part1}${part2}`).toString(10);\n    } else {\n        obj['data'] = data[key];\n    }\n    msg.payload = obj;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":360,"wires":[["962a94e.161b268"]]},{"id":"4fa91971.c51228","type":"json","z":"bff85562.77e368","name":"","property":"payload","action":"","pretty":false,"x":390,"y":180,"wires":[["8dc9a38b.a06e6"]]},{"id":"228561d5.93d78e","type":"subflow:f31a12b5.f21b9","z":"bff85562.77e368","name":"di","env":[{"name":"Topic","value":"ns=4;s=Arp.Plc.Eclr/Dint1","type":"str"},{"name":"Datatype","value":"Int32","type":"str"},{"name":"topic","value":"ns=4;s=Arp.Plc.Eclr/Dint1","type":"str"},{"name":"sequence","value":"1","type":"num"}],"x":110,"y":360,"wires":[["1f610b34.ff5a65"]]},{"id":"93b36e5d.e8919","type":"function","z":"bff85562.77e368","name":"Prepare data for inserting in InfluxDB","func":"let data = msg.payload;\nlet influxData = [];\ndata.forEach(o=>{\n    if((typeof o.data) != 'object') {\n        let obj = {\n            measurement: o.topic,\n            fields: {\n                value: (typeof o.data) == 'string' ? o.data : o.data\n            },\n            tags:{\n                location:o.datatype\n            }\n        };\n        influxData.push(obj);\n    }\n});\nmsg.payload = influxData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":480,"wires":[["8c045592.ee96c8","1242fd53.bcaf93"]]},{"id":"962a94e.161b268","type":"join","z":"bff85562.77e368","name":"Combine multiple output into one","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":600,"y":420,"wires":[["93b36e5d.e8919"]]},{"id":"1242fd53.bcaf93","type":"influxdb batch","z":"bff85562.77e368","influxdb":"813a9fab.0b38a","precision":"","retentionPolicy":"","name":"InfluxDB Batch Insert","x":920,"y":480,"wires":[]},{"id":"fa5b15e6.f3e568","type":"subflow:f31a12b5.f21b9","z":"bff85562.77e368","name":"str","env":[{"name":"Topic","value":"ns=4;s=Arp.Plc.Eclr/String1","type":"str"},{"name":"Datatype","value":"String","type":"str"},{"name":"topic","value":"ns=4;s=Arp.Plc.Eclr/String1","type":"str"}],"x":110,"y":480,"wires":[["1f610b34.ff5a65"]]},{"id":"7ecc441a.f6424c","type":"comment","z":"bff85562.77e368","name":"Read OpcUa data from the server and insert into InfluxDB","info":"","x":230,"y":240,"wires":[]},{"id":"23668d27.70b952","type":"comment","z":"bff85562.77e368","name":"Browse OpcUa - Fetch all the topics and datatypes from Server","info":"","x":250,"y":40,"wires":[]},{"id":"21275b57.f22cf4","type":"catch","z":"bff85562.77e368","name":"","scope":null,"uncaught":false,"x":140,"y":620,"wires":[["31443076.839ee"]]},{"id":"3379c70f.c252e8","type":"debug","z":"bff85562.77e368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":620,"wires":[]},{"id":"31443076.839ee","type":"function","z":"bff85562.77e368","name":"","func":"msg.payload = {\n    msg: \"Error Caught\",\n    source: msg.error.source,\n    error: msg.error.stack\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":620,"wires":[["3379c70f.c252e8"]]},{"id":"d58a4cbc.98e5d","type":"comment","z":"bff85562.77e368","name":"Catch Block","info":"","x":110,"y":560,"wires":[]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"plc_database","name":"DefaultDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]