FW_2021_ARCHIVE/SourceCode/Quickstart_Flows/OPCUA/InfluxDBToCloud.json
[{"id":"5c0e7b94.2be394","type":"tab","label":"InfluxDB To Cloud","disabled":false,"info":""},{"id":"82a44da0.1f21","type":"catch","z":"5c0e7b94.2be394","name":"","scope":null,"uncaught":false,"x":180,"y":520,"wires":[["ba2139af.f98238"]]},{"id":"ef5c934d.dceb8","type":"debug","z":"5c0e7b94.2be394","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":520,"wires":[]},{"id":"ba2139af.f98238","type":"function","z":"5c0e7b94.2be394","name":"","func":"msg.payload = {\n    msg: \"Error Caught\",\n    source: msg.error.source,\n    error: msg.error.stack\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":520,"wires":[["ef5c934d.dceb8"]]},{"id":"6be54e7d.c5b6c","type":"comment","z":"5c0e7b94.2be394","name":"Catch Block","info":"","x":150,"y":460,"wires":[]},{"id":"370fe3ce.60e9dc","type":"inject","z":"5c0e7b94.2be394","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":190,"y":120,"wires":[["8beee090.ee4cd"]]},{"id":"f4dc7f50.791cb","type":"influxdb in","z":"5c0e7b94.2be394","influxdb":"813a9fab.0b38a","name":"Influx In","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":200,"y":299,"wires":[["9ce3c3c8.05e3b"]]},{"id":"8beee090.ee4cd","type":"function","z":"5c0e7b94.2be394","name":"Function inject to influx","func":"//node.send({\"query\":\"SELECT * from holding WHERE time > now() - 2m\", \"topic\":\"holding\"});\n//node.send({\"query\":\"SELECT * from descrete WHERE time > now() - 2m\",\"topic\":\"descrete\"});\nnode.send({\"query\":\"SELECT * from OPCUA_Dint1 WHERE time > now() - 2m\",\"topic\":\"Dint1\"});\nnode.send({\"query\":\"SELECT * from OPCUA_Lreal1 WHERE time > now() - 2m\",\"topic\":\"Lreal1\"});\nnode.send({\"query\":\"SELECT * from OPCUA_Real1 WHERE time > now() - 2m\",\"topic\":\"Real1\"});\nnode.send({\"query\":\"SELECT * from OPCUA_String1 WHERE time > now() - 2m\",\"topic\":\"String1\"});","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":200,"wires":[["f4dc7f50.791cb"]]},{"id":"9ce3c3c8.05e3b","type":"join","z":"5c0e7b94.2be394","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":210,"y":380,"wires":[["1b28ae28.575e32","6f4609d.d8582f8"]]},{"id":"c83e8fca.1f10a","type":"comment","z":"5c0e7b94.2be394","name":"InfluxDb data to Cloud","info":"","x":160,"y":60,"wires":[]},{"id":"6f4609d.d8582f8","type":"mqtt out","z":"5c0e7b94.2be394","name":"AWS","topic":"/DBEntries","qos":"","retain":"","broker":"3c714d54.fa7682","x":550,"y":220,"wires":[]},{"id":"1b28ae28.575e32","type":"debug","z":"5c0e7b94.2be394","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":380,"wires":[]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"plc_database","name":"DefaultDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"3c714d54.fa7682","type":"mqtt-broker","name":"AWS Server","broker":"a3o57cof4ucnhe-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"2766522c.ae06de","clientid":"DemoThing","usetls":true,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"testsub","birthQos":"0","birthPayload":"Birth messege","closeTopic":"testsub","closeQos":"0","closePayload":"Close Message","willTopic":"","willQos":"0","willPayload":""},{"id":"2766522c.ae06de","type":"tls-config","name":"AWS TLS","cert":"","key":"","ca":"","certname":"75a2e553a1-certificate.pem.crt","keyname":"75a2e553a1-private.pem.key","caname":"amazonCA.pem","servername":"","verifyservercert":true}]