FW_2021_ARCHIVE/SourceCode/Quickstart_Flows/OPCUA/OpcUaToInflux.json
[{"id":"6ede5495.71605c","type":"subflow","name":"Opc Subflow","info":"","category":"","in":[{"x":160,"y":180,"wires":[{"id":"9a5c490c.f15f38"}]}],"out":[{"x":580,"y":180,"wires":[{"id":"9a5c490c.f15f38","port":0}]}],"env":[{"name":"Topic","type":"str","value":""},{"name":"Datatype","type":"str","value":""}],"color":"#DDAA99"},{"id":"9a5c490c.f15f38","type":"function","z":"6ede5495.71605c","name":"","func":"let topic = env.get(\"Topic\");\nlet datatype= env.get(\"Datatype\");\nnode.send({\n    \"topic\": topic,\n    \"datatype\":datatype,\n    \"browserName\":`${topic}_${datatype}`\n});\n// ns=4;s=Arp.Plc.Eclr/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[[]]},{"id":"29c5396c.7c0da6","type":"tab","label":"OpcUa To Influx","disabled":false,"info":""},{"id":"8938d228.b264a","type":"inject","z":"29c5396c.7c0da6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["83e7cb1d.e22dc8"]]},{"id":"846c1573.e4f988","type":"debug","z":"29c5396c.7c0da6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"83e7cb1d.e22dc8","type":"OpcUa-Browser","z":"29c5396c.7c0da6","endpoint":"","item":"","datatype":"","topic":"ns=4;s=Arp.Plc.Eclr","items":[],"name":"","x":490,"y":100,"wires":[["70f0aa0f.f5b924"]]},{"id":"1d2e7e36.2e18f2","type":"inject","z":"29c5396c.7c0da6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":300,"wires":[["43ba78a8.a47ec8","34f9bdec.279612","c607eba6.a66c58","ccda2d56.7f06d"]]},{"id":"92a38e19.42451","type":"OpcUa-Client","z":"29c5396c.7c0da6","endpoint":"","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"l","localfile":"/home/edge/.config/node-opcua-default-nodejs/PKI/trusted/certs/NodeOPCUA-Client@epc1522[57c846b9f62d8f9dd861e95c7174bd701a352853].pem","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":300,"y":420,"wires":[["8150c99.305db38"]]},{"id":"82ede21b.3dbdc","type":"debug","z":"29c5396c.7c0da6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":360,"wires":[]},{"id":"43ba78a8.a47ec8","type":"subflow:6ede5495.71605c","z":"29c5396c.7c0da6","name":"r","env":[{"name":"Topic","value":"ns=4;s=Arp.Plc.Eclr/Real1","type":"str"},{"name":"Datatype","value":"Float","type":"str"},{"name":"topic","value":"ns=4;s=Arp.Plc.Eclr/Real1","type":"str"},{"name":"sequence","value":"2","type":"num"}],"x":110,"y":400,"wires":[["92a38e19.42451"]]},{"id":"34f9bdec.279612","type":"subflow:6ede5495.71605c","z":"29c5396c.7c0da6","name":"lr","env":[{"name":"Topic","value":"ns=4;s=Arp.Plc.Eclr/Lreal1","type":"str"},{"name":"Datatype","value":"Double","type":"str"},{"name":"topic","value":"ns=4;s=Arp.Plc.Eclr/Lreal1","type":"str"},{"name":"sequence","value":"3","type":"num"}],"x":110,"y":440,"wires":[["92a38e19.42451"]]},{"id":"70f0aa0f.f5b924","type":"function","z":"29c5396c.7c0da6","name":"","func":"let data = [];\nmsg.payload.forEach(d=>{\n    if(d.item.dataType !== 'Null') {\n        data.push({topic:d.item.nodeId,datatype:d.item.dataType});\n    }\n});\nmsg.payload =JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":180,"wires":[["e09a343a.68b878"]]},{"id":"8150c99.305db38","type":"join","z":"29c5396c.7c0da6","name":"Join Opcua output in key value pair","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"browserName","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":580,"y":300,"wires":[["f5abef1a.a74"]]},{"id":"f5abef1a.a74","type":"function","z":"29c5396c.7c0da6","name":"Remove unwanted text from topic ","func":"let data = msg.payload;\nmsg.payload = {};\nfor(let key in data){\n    let obj = {};\n    obj['topic'] = (key.split('_')[0]).split(\"/\")[1];\n    obj['datatype'] = key.split('_')[1];\n    if(obj['datatype'] == \"UInt64\"){\n        let part1 = `${data[key][0].toString(16)}`;\n        let part2 = `${data[key][1].toString(16)}`;\n        obj['data'] = BigInt(`0x${part1}${part2}`).toString(10);\n    } else {\n        obj['data'] = data[key];\n    }\n    msg.payload = obj;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":360,"wires":[["ad45f6a0.782d38"]]},{"id":"e09a343a.68b878","type":"json","z":"29c5396c.7c0da6","name":"","property":"payload","action":"","pretty":false,"x":390,"y":180,"wires":[["846c1573.e4f988"]]},{"id":"c607eba6.a66c58","type":"subflow:6ede5495.71605c","z":"29c5396c.7c0da6","name":"di","env":[{"name":"Topic","value":"ns=4;s=Arp.Plc.Eclr/Dint1","type":"str"},{"name":"Datatype","value":"Int32","type":"str"},{"name":"topic","value":"ns=4;s=Arp.Plc.Eclr/Dint1","type":"str"},{"name":"sequence","value":"1","type":"num"}],"x":110,"y":360,"wires":[["92a38e19.42451"]]},{"id":"3b50da3c.5edcd6","type":"function","z":"29c5396c.7c0da6","name":"Prepare data for inserting in InfluxDB","func":"let data = msg.payload;\nlet influxData = [];\ndata.forEach(o=>{\n    if((typeof o.data) != 'object') {\n        let obj = {\n            measurement: \"OPCUA_\"+o.topic,\n            fields: {\n                value: (typeof o.data) == 'string' ? o.data : o.data\n            },\n            tags:{\n                location:o.datatype\n            }\n        };\n        influxData.push(obj);\n    }\n});\nmsg.payload = influxData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":480,"wires":[["82ede21b.3dbdc","caba18b9.9443e8"]]},{"id":"ad45f6a0.782d38","type":"join","z":"29c5396c.7c0da6","name":"Combine multiple output into one","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":600,"y":420,"wires":[["3b50da3c.5edcd6"]]},{"id":"caba18b9.9443e8","type":"influxdb batch","z":"29c5396c.7c0da6","influxdb":"813a9fab.0b38a","precision":"","retentionPolicy":"","name":"InfluxDB Batch Insert","x":920,"y":480,"wires":[]},{"id":"ccda2d56.7f06d","type":"subflow:6ede5495.71605c","z":"29c5396c.7c0da6","name":"str","env":[{"name":"Topic","value":"ns=4;s=Arp.Plc.Eclr/String1","type":"str"},{"name":"Datatype","value":"String","type":"str"},{"name":"topic","value":"ns=4;s=Arp.Plc.Eclr/String1","type":"str"}],"x":110,"y":480,"wires":[["92a38e19.42451"]]},{"id":"e2bd07c9.d7a538","type":"comment","z":"29c5396c.7c0da6","name":"Read OpcUa data from the server and insert into InfluxDB","info":"","x":230,"y":240,"wires":[]},{"id":"d364f9fa.3423d8","type":"comment","z":"29c5396c.7c0da6","name":"Browse OpcUa - Fetch all the topics and datatypes from Server","info":"","x":250,"y":40,"wires":[]},{"id":"6df20f7d.d1519","type":"catch","z":"29c5396c.7c0da6","name":"","scope":null,"uncaught":false,"x":180,"y":620,"wires":[["5c550118.3f0b9"]]},{"id":"ba6ad5c1.604e58","type":"debug","z":"29c5396c.7c0da6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":620,"wires":[]},{"id":"5c550118.3f0b9","type":"function","z":"29c5396c.7c0da6","name":"","func":"msg.payload = {\n    msg: \"Error Caught\",\n    source: msg.error.source,\n    error: msg.error.stack\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":620,"wires":[["ba6ad5c1.604e58"]]},{"id":"bb401cbb.4436a","type":"comment","z":"29c5396c.7c0da6","name":"Catch Block","info":"","x":150,"y":560,"wires":[]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"plc_database","name":"DefaultDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]