SourceCode/Quickstart_Flows/AWS/AWS_PubSub.json
[{"id":"94119329.c3372","type":"tab","label":"AWS Pub/Sub","disabled":false,"info":""},{"id":"f604705b.989fe","type":"comment","z":"94119329.c3372","name":"Subscribe to a topic","info":"","x":180,"y":100,"wires":[]},{"id":"c9273b56.9caae8","type":"comment","z":"94119329.c3372","name":"Publish to a topic","info":"","x":160,"y":280,"wires":[]},{"id":"81c6a37e.4a29","type":"mqtt in","z":"94119329.c3372","name":"Subscribe","topic":"testsub","qos":"0","datatype":"auto","broker":"3c714d54.fa7682","x":180,"y":180,"wires":[["42836815.832568"]]},{"id":"42836815.832568","type":"debug","z":"94119329.c3372","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":180,"wires":[]},{"id":"9ec992bb.79a73","type":"mqtt out","z":"94119329.c3372","name":"Publish","topic":"testsub","qos":"0","retain":"","broker":"3c714d54.fa7682","x":400,"y":360,"wires":[]},{"id":"20761bd.99e2be4","type":"inject","z":"94119329.c3372","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello","payloadType":"str","x":190,"y":360,"wires":[["9ec992bb.79a73"]]},{"id":"3c714d54.fa7682","type":"mqtt-broker","name":"AWS Server","broker":"a3o57cof4ucnhe-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"2766522c.ae06de","clientid":"DemoThing","usetls":true,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"testsub","birthQos":"0","birthPayload":"Birth messege","closeTopic":"testsub","closeQos":"0","closePayload":"Close Message","willTopic":"","willQos":"0","willPayload":""},{"id":"2766522c.ae06de","type":"tls-config","name":"AWS TLS","cert":"","key":"","ca":"","certname":"75a2e553a1-certificate.pem.crt","keyname":"75a2e553a1-private.pem.key","caname":"amazonCA.pem","servername":"","verifyservercert":true}]