FW_2021_ARCHIVE/SourceCode/Quickstart_Flows/InfluxDB/InfluxDB.json
[{"id":"4eac5f86.2b5a8","type":"tab","label":"InfluxDB","disabled":false,"info":""},{"id":"ed945016.18fc2","type":"inject","z":"4eac5f86.2b5a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":120,"wires":[["988a6d0a.7af1"]]},{"id":"988a6d0a.7af1","type":"function","z":"4eac5f86.2b5a8","name":"","func":"msg.payload = Math.random()*10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["a7a29b4a.738eb8","b6556ab9.4e6f28"]]},{"id":"a7a29b4a.738eb8","type":"influxdb out","z":"4eac5f86.2b5a8","influxdb":"813a9fab.0b38a","name":"InsertData","measurement":"RandomData","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":560,"y":120,"wires":[]},{"id":"b6556ab9.4e6f28","type":"debug","z":"4eac5f86.2b5a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"96a3a4e3.e445c8","type":"influxdb in","z":"4eac5f86.2b5a8","influxdb":"813a9fab.0b38a","name":"Fetch Data","query":"SELECT * FROM \"RandomData\" WHERE time > now() - 5m","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":400,"y":260,"wires":[["705988ba.0d9498"]]},{"id":"9c09c683.217818","type":"inject","z":"4eac5f86.2b5a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":260,"wires":[["96a3a4e3.e445c8"]]},{"id":"705988ba.0d9498","type":"debug","z":"4eac5f86.2b5a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":260,"wires":[]},{"id":"f6daf317.c666","type":"inject","z":"4eac5f86.2b5a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":380,"wires":[["e4ac63d4.84769"]]},{"id":"e4ac63d4.84769","type":"function","z":"4eac5f86.2b5a8","name":"","func":"msg.payload = [\n    {\n        measurement: \"weather_sensor\",\n        fields: {\n            temp: 5.5,\n            light: 678,\n            humidity: 51\n        },\n        tags:{\n            location:\"garden\"\n        },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"alarm_sensor\",\n        fields: {\n            proximity: 999,\n            temp: 19.5\n        },\n        tags:{\n            location:\"home\"\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["7baf8fcb.24bfc","1ec46e3f.522712"]]},{"id":"7baf8fcb.24bfc","type":"debug","z":"4eac5f86.2b5a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":440,"wires":[]},{"id":"1ec46e3f.522712","type":"influxdb batch","z":"4eac5f86.2b5a8","influxdb":"813a9fab.0b38a","precision":"","retentionPolicy":"","name":"","x":580,"y":380,"wires":[]},{"id":"7a4ebf1a.7dfad","type":"influxdb in","z":"4eac5f86.2b5a8","influxdb":"813a9fab.0b38a","name":"Drop Table","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":490,"y":520,"wires":[["3ba1f6fa.486bea"]]},{"id":"3d2d6cab.256c54","type":"inject","z":"4eac5f86.2b5a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":520,"wires":[["a0e4da64.4dd058"]]},{"id":"3ba1f6fa.486bea","type":"debug","z":"4eac5f86.2b5a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"a0e4da64.4dd058","type":"function","z":"4eac5f86.2b5a8","name":"","func":"msg.query=\"Drop MEASUREMENT RandomData\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":520,"wires":[["7a4ebf1a.7dfad"]]},{"id":"3b389c28.a30654","type":"comment","z":"4eac5f86.2b5a8","name":"Insert Data into DB","info":"","x":140,"y":40,"wires":[]},{"id":"698ff039.2492b","type":"comment","z":"4eac5f86.2b5a8","name":"Fetch Data from DB","info":"","x":140,"y":200,"wires":[]},{"id":"5e733b28.800224","type":"comment","z":"4eac5f86.2b5a8","name":"Batch Insert","info":"","x":110,"y":320,"wires":[]},{"id":"7e73265a.722ea8","type":"comment","z":"4eac5f86.2b5a8","name":"Drop Measurement","info":"","x":160,"y":460,"wires":[]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"plc_database","name":"DefaultDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]