FW_2023/Node-RED/Examples/010_Password_hash.json
[{"id":"b224a3469d4cfb41","type":"tab","label":"Password Hash","disabled":false,"info":"","env":[]},{"id":"cf81e51da4921059","type":"inject","z":"b224a3469d4cfb41","name":"Password Node","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Test123","payloadType":"str","x":240,"y":260,"wires":[["58466d6f94209d39"]]},{"id":"58466d6f94209d39","type":"bcrypt","z":"b224a3469d4cfb41","name":"","action":"encrypt","field":"payload","hash":"payload","target":"payload","assignment":"replace","match":"match","outputs":1,"rounds":10,"x":450,"y":260,"wires":[["c558c13e571f2856"]]},{"id":"c558c13e571f2856","type":"debug","z":"b224a3469d4cfb41","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":260,"wires":[]}]