FW_2022/Code/Node-RED/DailyReport_via_Mail.json
[{"id":"f7331aa.f1b03e8","type":"tab","label":"E_Mail","disabled":false,"info":""},{"id":"e2c29499.26c708","type":"file in","z":"f7331aa.f1b03e8","name":"get file","filename":"/opt/plcnext/CSV/CSVTest.csv","format":"","chunk":false,"sendError":false,"encoding":"none","x":350,"y":160,"wires":[["e7153a43.c51498"]]},{"id":"e7153a43.c51498","type":"function","z":"f7331aa.f1b03e8","name":"write email","func":"file = msg.filename;    // create local file variable for convenient reference\nvar d = new Date();     // create current date object for the time string\nvar tstring = d.toString().substring(0,4) + d.toString().substring(15,21);\n\nmsg.attachments =\n     { filename : file.substring(file.lastIndexOf('/')+1,file.length),\n        content : msg.payload };    // content should be a file binary buffer\n        \nmsg.topic = \"Your Daily Report for \" + tstring; // email subject\n\nmsg.payload = \"See attached text file: `\" + msg.attachments.filename + \"`\"; // email body\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":160,"wires":[["ca931105.deeb1","d7dc43cd.f9df1","866adcf3.01012"]]},{"id":"e7ded35e.bd497","type":"inject","z":"f7331aa.f1b03e8","name":"6:00PM","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["e2c29499.26c708"]]},{"id":"ca931105.deeb1","type":"debug","z":"f7331aa.f1b03e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":100,"wires":[]},{"id":"d7dc43cd.f9df1","type":"e-mail","z":"f7331aa.f1b03e8","server":"securesmtp.t-online.de","port":"465","secure":true,"tls":true,"name":"XXX@phoenixcontact.de","dname":"XXX@phoenixcontact.de","x":790,"y":160,"wires":[]},{"id":"866adcf3.01012","type":"e-mail","z":"f7331aa.f1b03e8","server":"securesmtp.t-online.de","port":"465","secure":true,"tls":true,"name":"XXX@gmail.com","dname":"XXX@gmail.com","x":770,"y":220,"wires":[]}]