FW_2022/Code/Node-RED/InfluxToProficloud.json
[{"id":"43c7b4d6.c713dc","type":"tab","label":"Proficloud Reference","disabled":false,"info":""},{"id":"ea1a0d3d.12e18","type":"inject","z":"43c7b4d6.c713dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["a2ccbf9b.dc425","f7ca9bb5.f999d8"]]},{"id":"856902b2.1bd5e","type":"comment","z":"43c7b4d6.c713dc","name":"Read Downsample Data and Alerts and send to Cloud","info":"","x":240,"y":200,"wires":[]},{"id":"a2ccbf9b.dc425","type":"influxdb in","z":"43c7b4d6.c713dc","influxdb":"813a9fab.0b38a","name":"Fetch Alerts","query":"SELECT * FROM \"chronograf\".\"autogen\".\"alerts\" WHERE time > now() - 10s;","rawOutput":true,"precision":"","retentionPolicy":"","org":"organisation","x":370,"y":440,"wires":[["979257c7.a1ef48"]]},{"id":"ddb315f4.4fc328","type":"function","z":"43c7b4d6.c713dc","name":"","func":"var GrapeSample = { payload: msg.payload.results[0].series[0].values[0][2] };\nvar ColaSample = { payload: msg.payload.results[1].series[0].values[0][2]};\nvar LemonSample = { payload: msg.payload.results[2].series[0].values[0][2]};\nvar R1Z = { payload: msg.payload.results[3].series[0].values[0][2] };\nvar R2Z = { payload: msg.payload.results[4].series[0].values[0][2]};\n\nvar Conveyor2 = { payload: msg.payload.results[5].series[0].values[0][2]};\nvar Conveyor3 = { payload: msg.payload.results[6].series[0].values[0][2]};\nvar Conveyor4 = { payload: msg.payload.results[7].series[0].values[0][2]};\n\nreturn [GrapeSample, ColaSample, LemonSample, R1Z, R2Z, Conveyor2, Conveyor3, Conveyor4 ];","outputs":8,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":240,"wires":[["7877720e.99585c"],["a7fd4604.cae8b8"],["ef729e62.02186"],["d4fc5f39.1249e"],["a651db3c.17bd48"],["a5b03dae.95516"],["5d3374be.47f46c"],["293dd9a4.549be6"]]},{"id":"7877720e.99585c","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"DownsampleGrapeCnt\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":180,"wires":[["bcbdb835.9b4398","27c61983.45e276"]]},{"id":"a7fd4604.cae8b8","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"DownsampleColaCnt\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":200,"wires":[["bcbdb835.9b4398"]]},{"id":"ef729e62.02186","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"DownsampleLemonCnt\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":220,"wires":[["bcbdb835.9b4398"]]},{"id":"d4fc5f39.1249e","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"R1Z_MachinePos\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":240,"wires":[[]]},{"id":"a651db3c.17bd48","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"R2Z_MachinePos\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":260,"wires":[["bcbdb835.9b4398"]]},{"id":"a5b03dae.95516","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"Conveyor2_Pos\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":280,"wires":[["bcbdb835.9b4398"]]},{"id":"5d3374be.47f46c","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"Conveyor3_Pos\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":300,"wires":[["bcbdb835.9b4398"]]},{"id":"293dd9a4.549be6","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"Conveyor4_Pos\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":320,"wires":[["bcbdb835.9b4398"]]},{"id":"979257c7.a1ef48","type":"function","z":"43c7b4d6.c713dc","name":"","func":"var Alert_R1X_Range = { payload: msg.payload.results[0].series[0].values[0][8] };\nvar Alert_R2X_Range = { payload: msg.payload.results[0].series[0].values[1][8] };\nvar Alert_R1Y_Range = { payload: msg.payload.results[0].series[0].values[2][8] };\nvar Alert_R2Y_Range = { payload: msg.payload.results[0].series[0].values[3][8] };\n\nreturn [Alert_R1X_Range, Alert_R2X_Range, Alert_R1Y_Range, Alert_R2Y_Range ];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":600,"y":440,"wires":[["9998b24e.d52e"],["f1aa7dff.4f942"],["fc5ced28.dfd08"],["5a4d06b0.1cd468"]]},{"id":"9998b24e.d52e","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"Alert_R1X_Range\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":400,"wires":[["bcbdb835.9b4398"]]},{"id":"f1aa7dff.4f942","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"Alert_R2X_Range\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":420,"wires":[["bcbdb835.9b4398"]]},{"id":"fc5ced28.dfd08","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"Alert_R1Y_Range\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":440,"wires":[["bcbdb835.9b4398"]]},{"id":"5a4d06b0.1cd468","type":"function","z":"43c7b4d6.c713dc","name":"","func":"msg.payload = {\"data\" : {\"Alert_R2Y_Range\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":460,"wires":[["bcbdb835.9b4398"]]},{"id":"bcbdb835.9b4398","type":"ProficloudDevice","z":"43c7b4d6.c713dc","uuid":"2750736f-86b6-4aba-b7ef-1ecf5d4da504","env":"Production","autostart":true,"autodelay":0,"metaByPayload":true,"deviceType":"NodeRED-Node","serialnumber":"","hardwareVersion":"1","x":1220,"y":320,"wires":[[]]},{"id":"27c61983.45e276","type":"debug","z":"43c7b4d6.c713dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"bb15b98e.b16698","type":"influxdb in","z":"43c7b4d6.c713dc","influxdb":"813a9fab.0b38a","name":"Read data","query":"from (bucket: \"edge\")\n    |> range(start:-2m)\n","rawOutput":false,"precision":"","retentionPolicy":"","org":"PxC","x":420,"y":740,"wires":[["d12aea06.bcc558"]]},{"id":"d12aea06.bcc558","type":"debug","z":"43c7b4d6.c713dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":740,"wires":[]},{"id":"fc18d52c.534e38","type":"inject","z":"43c7b4d6.c713dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":740,"wires":[["bb15b98e.b16698"]]},{"id":"f7ca9bb5.f999d8","type":"influxdb in","z":"43c7b4d6.c713dc","influxdb":"813a9fab.0b38a","name":"Influx IN","query":"from(bucket: \"edge\")\n  |> range(start: -1m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"REST_ColaCount\" or r[\"_measurement\"] == \"REST_LemonCount\" or r[\"_measurement\"] == \"REST_GrapeCount\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")","rawOutput":false,"precision":"","retentionPolicy":"","org":"PxC","x":340,"y":260,"wires":[["ddb315f4.4fc328"]]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"edge","name":"Inlfux2_PxC","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://127.0.0.1:8086","rejectUnauthorized":false}]