FW_2022/Code/Node-RED/InfluxToProficloud.json
[{"id":"1b011201be50e513","type":"tab","label":"InfluxDB to Proficloud","disabled":false,"info":""},{"id":"488df50864b7d1a7","type":"function","z":"1b011201be50e513","name":"Prepare data format for Proficloud","func":"// Init message\n\n\nvar message = {'data':[]}\n\n// Set timestamp\n//message.data['timestamp'] = \n\n// Insert data\n\nfor (var point of msg.payload){\n   // node.warn(point)\n    var datapoint = {}\n    var dataname = point._measurement + '_' + point._field\n    \n    \n    datapoint[dataname] = point._value\n    point._time=new Date(point._time)\n    datapoint['timestamp'] = point._time.getTime()\n    \n   \n    message.data.push(datapoint)\n}\n\n// Hand over payload\nmsg.payload = message;\n\n// Output message\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[["7cfdedd3.3301d4","3cf80932.53dba6"]]},{"id":"4314b15fb4612505","type":"comment","z":"1b011201be50e513","name":"Query the data out of the InfluxDB to send them to Proficloud","info":"","x":880,"y":140,"wires":[]},{"id":"2972a7b37c89f46e","type":"inject","z":"1b011201be50e513","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":360,"y":180,"wires":[["2a641f26.3e48d"]]},{"id":"4411985cf886fd57","type":"comment","z":"1b011201be50e513","name":"Prepare Query based on interval in dashboard","info":"","x":250,"y":140,"wires":[]},{"id":"2a641f26.3e48d","type":"influxdb in","z":"1b011201be50e513","influxdb":"813a9fab.0b38a","name":"Read data","query":"from (bucket: \"PLCnext\")\n    |> range(start: -10s, stop: -1s)\n    |> aggregateWindow(every: 1s, fn: mean, createEmpty: false)\n    |> yield(name: \"mean\")\n","rawOutput":false,"precision":"","retentionPolicy":"","org":"PxC","x":570,"y":180,"wires":[["488df50864b7d1a7"]]},{"id":"7cfdedd3.3301d4","type":"debug","z":"1b011201be50e513","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":260,"wires":[]},{"id":"3cf80932.53dba6","type":"ProficloudDevice","z":"1b011201be50e513","uuid":"65949054-4363-4e07-a898-19199a9c1883","env":"Production","autostart":true,"autodelay":"3","metaByPayload":true,"deviceType":"NodeRED-Node","serialnumber":"","hardwareVersion":"02","x":1290,"y":180,"wires":[[]]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"edge","name":"Inlfux2_PxC","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://127.0.0.1:8086","rejectUnauthorized":false}]