FW_2022/Code/Node-RED/Influx_to_CSV.json
[{"id":"bbc645b8.5d0528","type":"tab","label":"CSV_Test","disabled":false,"info":""},{"id":"7a455de6.324874","type":"function","z":"bbc645b8.5d0528","name":"","func":"\nreturn {payload:\"Datum;Value;\"}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":560,"wires":[["1e7cfcff.e478e3","d71b324c.ff856"]]},{"id":"1e7cfcff.e478e3","type":"debug","z":"bbc645b8.5d0528","name":"CSV_Test","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":520,"y":560,"wires":[]},{"id":"d71b324c.ff856","type":"file","z":"bbc645b8.5d0528","name":"","filename":"/opt/plcnext/CSV/CSVTest.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":580,"y":660,"wires":[[]]},{"id":"175afc83.97ed73","type":"inject","z":"bbc645b8.5d0528","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":560,"wires":[["7a455de6.324874"]]},{"id":"899b6e90.79cb","type":"comment","z":"bbc645b8.5d0528","name":"Delete the local CSV file","info":"","x":210,"y":500,"wires":[]},{"id":"85906423.8a47f8","type":"function","z":"bbc645b8.5d0528","name":"","func":"\nreturn {payload:\"Alarmmeldung_EPC1502\"}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":760,"wires":[["a9611c2d.0529c"]]},{"id":"3aa662ea.373f5e","type":"debug","z":"bbc645b8.5d0528","name":"text_test","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":710,"y":760,"wires":[]},{"id":"a9611c2d.0529c","type":"file","z":"bbc645b8.5d0528","name":"text.txt","filename":"/opt/plcnext/text/text.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":530,"y":760,"wires":[["3aa662ea.373f5e"]]},{"id":"b27407c.8b26ef8","type":"comment","z":"bbc645b8.5d0528","name":"Alarmmeldung EPC 1502","info":"","x":210,"y":700,"wires":[]},{"id":"72126ef7.899e8","type":"inject","z":"bbc645b8.5d0528","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":760,"wires":[["85906423.8a47f8"]]},{"id":"dc7c4b2.d5dcab8","type":"inject","z":"bbc645b8.5d0528","name":"Read data each X min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":340,"wires":[["36a40ce.80d12f4","3f023622.f313da"]]},{"id":"686fab08.aade74","type":"debug","z":"bbc645b8.5d0528","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]._value","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":340,"wires":[]},{"id":"36a40ce.80d12f4","type":"influxdb in","z":"bbc645b8.5d0528","influxdb":"813a9fab.0b38a","name":"Read average Bottle filled","query":"from(bucket: \"edge\")\n  |> range(start:-1h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"average bottles\")\n  |> filter(fn: (r) => r[\"_field\"] == \"bottles2\")\n  |> last()\n  ","rawOutput":false,"precision":"","retentionPolicy":"","org":"PxC","x":570,"y":340,"wires":[["7f478735.0fa428"]]},{"id":"e57d3d1d.0c497","type":"comment","z":"bbc645b8.5d0528","name":"Read data from InfluxDB and write data to a local CSV","info":"Dashboard","x":300,"y":300,"wires":[]},{"id":"62ecb849.d11688","type":"file","z":"bbc645b8.5d0528","name":"CSVTest.csv","filename":"/opt/plcnext/CSV/CSVTest.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1030,"y":380,"wires":[["87ec3808.4f2508"]],"inputLabels":["test"],"outputLabels":["test"]},{"id":"87ec3808.4f2508","type":"debug","z":"bbc645b8.5d0528","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1240,"y":420,"wires":[]},{"id":"7f478735.0fa428","type":"change","z":"bbc645b8.5d0528","name":"change to csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"\";\" & msg.payload[0]._value & \";\" & msg.payload[0]._measurement","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":340,"wires":[["62ecb849.d11688","686fab08.aade74"]]},{"id":"a75350c0.49d43","type":"file","z":"bbc645b8.5d0528","name":"CSVTest.csv","filename":"/opt/plcnext/CSV/CSVTest.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1030,"y":420,"wires":[["87ec3808.4f2508"]],"inputLabels":["test"],"outputLabels":["test"]},{"id":"3f023622.f313da","type":"OpcUa-Item","z":"bbc645b8.5d0528","item":"i=2258 [Server_ServerStatus_CurrentTime]","datatype":"DateTime","value":"","name":"DateTime","x":420,"y":420,"wires":[["6322a63f.43d448"]]},{"id":"77d5b40f.6dad0c","type":"debug","z":"bbc645b8.5d0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]._value","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":460,"wires":[]},{"id":"6322a63f.43d448","type":"OpcUa-Client","z":"bbc645b8.5d0528","endpoint":"6c1cd8bf.72ecb8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"l","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":600,"y":420,"wires":[["a75350c0.49d43","77d5b40f.6dad0c"]]},{"id":"fc6c340.be25dd","type":"function","z":"bbc645b8.5d0528","name":"","func":"\nreturn {payload:\"Datum;Value;Variable; ---- Node-RED Restart ---\"}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":100,"wires":[["4a2e458.79826bc","2d88ec4e.ac1434"]]},{"id":"4a2e458.79826bc","type":"debug","z":"bbc645b8.5d0528","name":"CSV_Test","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":200,"wires":[]},{"id":"2d88ec4e.ac1434","type":"file","z":"bbc645b8.5d0528","name":"","filename":"/opt/plcnext/CSV/CSVTest.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":710,"y":100,"wires":[[]]},{"id":"29aa7c01.d71684","type":"inject","z":"bbc645b8.5d0528","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["fc6c340.be25dd","b70945a6.e9c258"]]},{"id":"195ea63b.df0a2a","type":"comment","z":"bbc645b8.5d0528","name":"Create a new CSV file with a Header","info":"","x":240,"y":40,"wires":[]},{"id":"b70945a6.e9c258","type":"OpcUa-Item","z":"bbc645b8.5d0528","item":"i=2258 [Server_ServerStatus_CurrentTime]","datatype":"DateTime","value":"","name":"DateTime","x":240,"y":200,"wires":[["96ce4061.11a9f"]]},{"id":"96ce4061.11a9f","type":"OpcUa-Client","z":"bbc645b8.5d0528","endpoint":"6c1cd8bf.72ecb8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"l","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":400,"y":200,"wires":[["4a2e458.79826bc"]]},{"id":"cd2591.53b12a7","type":"comment","z":"bbc645b8.5d0528","name":"Read local time of EPC via OPC UA","info":"","x":240,"y":160,"wires":[]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"edge","name":"Inlfux2_PxC","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://127.0.0.1:8086","rejectUnauthorized":false},{"id":"6c1cd8bf.72ecb8","type":"OpcUa-Endpoint","endpoint":"opc.tcp://127.0.0.1:4840","secpol":"Basic256Sha256","secmode":"SignAndEncrypt","login":true}]