FW_2022/Code/Node-RED/OPCUA_Taglist_toInflux.json
[{"id":"79672986.88fd68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"abbae21b.85624","type":"inject","z":"79672986.88fd68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["763ea678.a97c58"]]},{"id":"d34ff403.515db8","type":"function","z":"79672986.88fd68","name":"Prepare data for inserting in InfluxDB","func":"let data = msg.payload;\nlet influxData = [];\ndata.forEach(o=>{\n    if((typeof o.data) != 'object') {\n        let obj = {\n            measurement: \"OPCUA_\"+o.topic,\n            fields: {\n                value: (typeof o.data) == 'string' ? o.data : o.data\n            },\n            tags:{\n                location:o.datatype\n            }\n        };\n        influxData.push(obj);\n    }\n});\nmsg.payload = influxData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":520,"wires":[["45b472af.cea7fc","a53609d3.d77c98"]]},{"id":"3d578613.a9825a","type":"join","z":"79672986.88fd68","name":"Join Opcua output in key value pair","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":980,"y":300,"wires":[["1dbb79d2.e89d36"]]},{"id":"1dbb79d2.e89d36","type":"function","z":"79672986.88fd68","name":"Remove unwanted text from topic ","func":"let data = msg.payload;\nmsg.payload = {};\nfor(let key in data){\n    let obj = {};\n    obj['topic'] = (key.split('_')[0]).split(\"/\")[1];\n    obj['datatype'] = key.split('_')[1];\n    if(obj['datatype'] == \"UInt64\"){\n        let part1 = `${data[key][0].toString(16)}`;\n        let part2 = `${data[key][1].toString(16)}`;\n        obj['data'] = BigInt(`0x${part1}${part2}`).toString(10);\n    } else {\n        obj['data'] = data[key];\n    }\n    msg.payload = obj;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":360,"wires":[["f852c5f.c402a38"]]},{"id":"f852c5f.c402a38","type":"join","z":"79672986.88fd68","name":"Combine multiple output into one","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1000,"y":420,"wires":[["d34ff403.515db8"]]},{"id":"45b472af.cea7fc","type":"influxdb batch","z":"79672986.88fd68","influxdb":"813a9fab.0b38a","precision":"","retentionPolicy":"shortterm","name":"InfluxDB Batch Insert","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"PxC","bucket":"edge","x":1340,"y":520,"wires":[]},{"id":"763ea678.a97c58","type":"OpcUa-Taglist","z":"79672986.88fd68","endpoint":"ae07900c.509ed","item":"","datatype":"","topic":"ns=5;s=Arp.Plc.Eclr","items":[],"name":"","x":450,"y":220,"wires":[["6bacad19.c9ec24"]]},{"id":"a53609d3.d77c98","type":"debug","z":"79672986.88fd68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":420,"wires":[]},{"id":"6bacad19.c9ec24","type":"OpcUa-Client","z":"79672986.88fd68","endpoint":"ae07900c.509ed","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":660,"y":220,"wires":[["3d578613.a9825a"]]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"edge","name":"Inlfux2_PxC","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://127.0.0.1:8086","rejectUnauthorized":false},{"id":"ae07900c.509ed","type":"OpcUa-Endpoint","endpoint":"opc.tcp://127.0.0.1:4840","secpol":"Basic256Sha256","secmode":"SignAndEncrypt","login":true}]