FW_2022/Code/Node-RED/REST_Demo_to_Influx.json
[{"id":"862abf26f59d58fe","type":"tab","label":"Demo","disabled":false,"info":""},{"id":"03a2b1a9dc3b80dd","type":"plc-read-variables","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","variables":"Arp.Plc.Eclr/URL_TEST,Arp.Plc.Eclr/ColaCount,Arp.Plc.Eclr/LemonLimeCount,Arp.Plc.Eclr/GrapeCount,Arp.Plc.Eclr/Conveyor2,Arp.Plc.Eclr/Conveyor3,Arp.Plc.Eclr/BottleCap1,Arp.Plc.Eclr/BottleCap2,Arp.Plc.Eclr/BottleCap3,Arp.Plc.Eclr/BottleCap4","searchbar":"Cola","x":390,"y":140,"wires":[["712ceee.ef07c1"]]},{"id":"e5ee6aac250236dd","type":"inject","z":"862abf26f59d58fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":760,"wires":[["c1ce761f8fa0fa26"]]},{"id":"7b31da67c0e4fd3d","type":"plc-browse-items","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","get_dicts":true,"get_types":true,"x":430,"y":300,"wires":[[]]},{"id":"a1104fcfac3147fa","type":"plc-report-sessions","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","x":430,"y":360,"wires":[[]]},{"id":"4519552dde5803b2","type":"plc-report-groups","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","x":430,"y":420,"wires":[[]]},{"id":"9679357b44aa9a88","type":"plc-create-group","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","variables":"Arp.Plc.Eclr/v2,Arp.Plc.Eclr/power","x":420,"y":480,"wires":[["3db6e5598f255e6b"]]},{"id":"3db6e5598f255e6b","type":"plc-read-group-variables","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","group_id":"g214610342","x":450,"y":540,"wires":[[]]},{"id":"3d2786d3e5f9dbfc","type":"plc-write-variables","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","vars":"","var_list":"{\"items\":[{\"path\":\"Arp.Plc.Eclr/ColaCount\",\"value\":\"\",\"valueType\":\"Constant\"}]}","searchbar":"Arp.Plc.Eclr/ColaCount","x":570,"y":660,"wires":[[]]},{"id":"9f59fd52d37ffb83","type":"function","z":"862abf26f59d58fe","name":"","func":"\nmsg.payload = {\n variables:[\n {path:\"Arp.Plc.Eclr/v1\", value:false, valueType:\"Constant\"}\n ]};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":660,"wires":[["3d2786d3e5f9dbfc"]]},{"id":"c1ce761f8fa0fa26","type":"plc-read-variables","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","variables":"","searchbar":"","x":410,"y":760,"wires":[["1b3c207a3fe7dd27"]]},{"id":"c0de85a191123f53","type":"plc-write-variables","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","vars":"","var_list":"{\"items\":[{\"prefix\":\"\",\"variable\":\"\",\"value\":\"\",\"valueType\":\"Variable\"}]}","x":810,"y":760,"wires":[[]]},{"id":"43634efdb26e75bc","type":"inject","z":"862abf26f59d58fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["03a2b1a9dc3b80dd"]]},{"id":"d7ff65d4afc19076","type":"inject","z":"862abf26f59d58fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":300,"wires":[["956a9686b2348294"]]},{"id":"90c6b97165dea695","type":"inject","z":"862abf26f59d58fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":360,"wires":[["a1104fcfac3147fa"]]},{"id":"50c1a3f589fc2d7f","type":"inject","z":"862abf26f59d58fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":420,"wires":[["4519552dde5803b2"]]},{"id":"5c3716d049ec44e3","type":"inject","z":"862abf26f59d58fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":480,"wires":[["9679357b44aa9a88"]]},{"id":"cb248a68cf464190","type":"inject","z":"862abf26f59d58fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":660,"wires":[["9f59fd52d37ffb83"]]},{"id":"a899cbe069f0c7ce","type":"inject","z":"862abf26f59d58fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":820,"wires":[["af283073d7e394b8"]]},{"id":"af283073d7e394b8","type":"plc-read-variables","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","variables":"v1","x":410,"y":820,"wires":[["b08930f46e4fbdbe"]]},{"id":"b08930f46e4fbdbe","type":"function","z":"862abf26f59d58fe","name":"","func":"msg.payload.variables[0].value = !msg.payload.variables[0].value;\n\nmsg.payload.variables[0].valueType = 'Constant';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":820,"wires":[["b8341f7a6d5fc7a4"]]},{"id":"b8341f7a6d5fc7a4","type":"plc-write-variables","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","vars":"","var_list":"{\"items\":[]}","x":810,"y":820,"wires":[[]]},{"id":"1b3c207a3fe7dd27","type":"function","z":"862abf26f59d58fe","name":"","func":"for(let i = 0; i < msg.payload.variables.length; i++) {\n if(msg.payload.variables[i].path.includes(\"v2\")) {\n if(msg.payload.variables[i].value >= 10) {\n msg.payload.variables[i].value = 0;\n }\n else {\n msg.payload.variables[i].value++;\n }\n msg.payload.variables[i].valueType = \"Constant\";\n }\n}\nconsole.log(msg);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":760,"wires":[["c0de85a191123f53"]]},{"id":"7109999d020be9f4","type":"plc-write-variables","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","vars":"","var_list":"{\"items\":[{\"prefix\":\"\",\"variable\":\"name_str\",\"value\":\"hallo\",\"valueType\":\"Constant\"}]}","x":810,"y":880,"wires":[[]]},{"id":"f880691a99a7d9f5","type":"inject","z":"862abf26f59d58fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":880,"wires":[["7109999d020be9f4"]]},{"id":"956a9686b2348294","type":"function","z":"862abf26f59d58fe","name":"","func":"msg.payload = {get_dicts: true, get_types: false};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":300,"wires":[["7b31da67c0e4fd3d"]]},{"id":"712ceee.ef07c1","type":"split","z":"862abf26f59d58fe","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":640,"y":140,"wires":[["30fb2fe8.7b269"]]},{"id":"ba590292.4daef","type":"influxdb batch","z":"862abf26f59d58fe","influxdb":"813a9fab.0b38a","precision":"","retentionPolicy":"shortterm","name":"InfluxDB Batch Insert","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"PxC","bucket":"edge","x":1280,"y":160,"wires":[]},{"id":"6b3ecaeb.f0a504","type":"function","z":"862abf26f59d58fe","name":"Prepare data for inserting in InfluxDB","func":"let data = msg.payload;\nlet influxData = [];\ndata.forEach(o=>{\n    if((typeof o.data) != 'object') {\n        let obj = {\n            measurement: \"REST_\" + o.topic,\n        fields: {\n                value: (typeof o.data) == 'string' ? o.data : o.data\n            },\n            \n        };\n        influxData.push(obj);\n    }\n});\nmsg.payload = influxData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":180,"wires":[["ba590292.4daef","7b756a98.6b5434"]]},{"id":"d6898b6e.3fa418","type":"join","z":"862abf26f59d58fe","name":"Combine multiple output into one","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":120,"wires":[["6b3ecaeb.f0a504"]]},{"id":"5719358d.575a7c","type":"change","z":"862abf26f59d58fe","name":"Format","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.topic","pt":"msg","to":"payload.path","tot":"msg"},{"t":"set","p":"payload.data","pt":"msg","to":"payload.value","tot":"msg"},{"t":"delete","p":"payload.path","pt":"msg"},{"t":"delete","p":"payload.value","pt":"msg"},{"t":"change","p":"payload.topic","pt":"msg","from":"Arp.Plc.Eclr/","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["d6898b6e.3fa418"]]},{"id":"30fb2fe8.7b269","type":"split","z":"862abf26f59d58fe","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":640,"y":180,"wires":[["5719358d.575a7c"]]},{"id":"7b756a98.6b5434","type":"debug","z":"862abf26f59d58fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":240,"wires":[]},{"id":"2aaa09b6229879d7","type":"plc-connector","host":"localhost","station_name":"PLCnextControl","session_timeout":"20000","api_version":"v1.4","auth_required":"true"},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"edge","name":"Inlfux2_PxC","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://127.0.0.1:8086","rejectUnauthorized":false}]