FW_2022/Code/Node-RED/REST_Demo_to_Influx.json
[{"id":"03a2b1a9dc3b80dd","type":"plc-read-variables","z":"862abf26f59d58fe","plc_connector":"2aaa09b6229879d7","variables":"","searchbar":"Cola","x":410,"y":140,"wires":[["712ceee.ef07c1"]]},{"id":"43634efdb26e75bc","type":"inject","z":"862abf26f59d58fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":140,"wires":[["03a2b1a9dc3b80dd"]]},{"id":"712ceee.ef07c1","type":"split","z":"862abf26f59d58fe","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":640,"y":140,"wires":[["30fb2fe8.7b269"]]},{"id":"ba590292.4daef","type":"influxdb batch","z":"862abf26f59d58fe","influxdb":"813a9fab.0b38a","precision":"","retentionPolicy":"shortterm","name":"InfluxDB Batch Insert","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"PxC","bucket":"edge","x":1280,"y":160,"wires":[]},{"id":"6b3ecaeb.f0a504","type":"function","z":"862abf26f59d58fe","name":"Prepare data for inserting in InfluxDB","func":"let data = msg.payload;\nlet influxData = [];\ndata.forEach(o=>{\n    if((typeof o.data) != 'object') {\n        let obj = {\n            measurement: \"REST_\" + o.topic,\n        fields: {\n                value: (typeof o.data) == 'string' ? o.data : o.data\n            },\n            \n        };\n        influxData.push(obj);\n    }\n});\nmsg.payload = influxData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":180,"wires":[["ba590292.4daef","7b756a98.6b5434"]]},{"id":"d6898b6e.3fa418","type":"join","z":"862abf26f59d58fe","name":"Combine multiple output into one","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":120,"wires":[["6b3ecaeb.f0a504"]]},{"id":"5719358d.575a7c","type":"change","z":"862abf26f59d58fe","name":"Format","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.topic","pt":"msg","to":"payload.path","tot":"msg"},{"t":"set","p":"payload.data","pt":"msg","to":"payload.value","tot":"msg"},{"t":"delete","p":"payload.path","pt":"msg"},{"t":"delete","p":"payload.value","pt":"msg"},{"t":"change","p":"payload.topic","pt":"msg","from":"Arp.Plc.Eclr/","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["d6898b6e.3fa418"]]},{"id":"30fb2fe8.7b269","type":"split","z":"862abf26f59d58fe","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":640,"y":180,"wires":[["5719358d.575a7c"]]},{"id":"7b756a98.6b5434","type":"debug","z":"862abf26f59d58fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":240,"wires":[]},{"id":"2aaa09b6229879d7","type":"plc-connector","host":"192.168.1.10","station_name":"PLCnextControl","session_timeout":"20000","api_version":"v1.4","auth_required":"true"},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"edge","name":"Inlfux2_PxC","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://192.168.1.10:8086","rejectUnauthorized":false}]