FW_2021_ARCHIVE/SourceCode/Quickstart_Flows/Azure/Azure_with_MQTT_nodes.json
[{"id":"be917ad0.e1a548","type":"tab","label":"Azure with MQTT nodes","disabled":false,"info":""},{"id":"16247dcd.df7412","type":"comment","z":"be917ad0.e1a548","name":"Device to Cloud","info":"","x":180,"y":80,"wires":[]},{"id":"1722bf77.8aaa31","type":"inject","z":"be917ad0.e1a548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":180,"wires":[["3cfbbb4e.49e2c4","991928ea.e7c9f8"]]},{"id":"3cfbbb4e.49e2c4","type":"mqtt out","z":"be917ad0.e1a548","name":"D2C","topic":"devices/DemoDev1/messages/events/","qos":"","retain":"","broker":"ba22be79.74e9e","x":440,"y":180,"wires":[]},{"id":"d9898894.d70a28","type":"mqtt in","z":"be917ad0.e1a548","name":"C2D","topic":"devices/DemoDev1/messages/devicebound/#","qos":"2","datatype":"auto","broker":"ba22be79.74e9e","x":190,"y":340,"wires":[["80802cd.5f877d"]]},{"id":"adad3838.9da7d8","type":"comment","z":"be917ad0.e1a548","name":"Cloud to Device","info":"","x":200,"y":260,"wires":[]},{"id":"80802cd.5f877d","type":"debug","z":"be917ad0.e1a548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":340,"wires":[]},{"id":"991928ea.e7c9f8","type":"debug","z":"be917ad0.e1a548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":120,"wires":[]},{"id":"ba22be79.74e9e","type":"mqtt-broker","name":"AzureDemo","broker":"ssl://PxC-IOT-TESTHUB2.azure-devices.net","port":"8883","tls":"ae19c9a1.1ef6a8","clientid":"DemoDev1","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ae19c9a1.1ef6a8","type":"tls-config","name":"AzureTLS","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]