FW_2021_ARCHIVE/SourceCode/Quickstart_Flows/Azure/Azure_with_Cloud_nodes.json
[{"id":"72ba3ef4.66007","type":"tab","label":"Azure with Cloud nodes","disabled":false,"info":""},{"id":"817f33a3.ddf5f","type":"azureiothubreceiver","z":"72ba3ef4.66007","name":"Azure IoT Hub Receiver","x":400,"y":260,"wires":[["c2825fc8.d6323"]]},{"id":"723d625e.52eb7c","type":"azureiothubdevicetwin","z":"72ba3ef4.66007","name":"Azure IoT Hub Device Twin","x":420,"y":360,"wires":[["5e9fec30.6a52f4"]]},{"id":"c2825fc8.d6323","type":"debug","z":"72ba3ef4.66007","name":"Rx Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":260,"wires":[]},{"id":"5e9fec30.6a52f4","type":"debug","z":"72ba3ef4.66007","name":"Device Info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":360,"wires":[]},{"id":"3afc72bf.5c112e","type":"inject","z":"72ba3ef4.66007","name":"Send DeviceId","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"DemoDev2","payloadType":"str","x":180,"y":360,"wires":[["723d625e.52eb7c"]]},{"id":"f775e252.a49f2","type":"debug","z":"72ba3ef4.66007","name":"Tx Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"95789379.e44d2","type":"azureiothub","z":"72ba3ef4.66007","name":"Azure IoT Hub","protocol":"amqp","x":500,"y":140,"wires":[["f775e252.a49f2"]]},{"id":"228b0f18.7799c","type":"inject","z":"72ba3ef4.66007","name":"Send Payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"1234","payloadType":"num","x":150,"y":140,"wires":[["d7f242f1.29394"]]},{"id":"d7f242f1.29394","type":"function","z":"72ba3ef4.66007","name":"","func":"let data = msg.payload;\nmsg.payload = {\n    deviceId:\"DemoDev2\",\n    key: \"ejQeWsxlr9aS+/aNB9pOAieb1X9JRTB5fe9l4RodYTQ=\",\n    protocol: \"amqp\",\n    data: data\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":140,"wires":[["95789379.e44d2"]]},{"id":"1bc75845.2c42c8","type":"azureiothubregistry","z":"72ba3ef4.66007","name":"Azure IoT Hub Registry","x":390,"y":60,"wires":[["79592dc7.b2de64"]]},{"id":"81082308.bfa87","type":"inject","z":"72ba3ef4.66007","name":"Register Payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"deviceId\":\"DemoDev2\"}","payloadType":"json","x":160,"y":60,"wires":[["1bc75845.2c42c8"]]},{"id":"79592dc7.b2de64","type":"debug","z":"72ba3ef4.66007","name":"Log","active":true,"console":"false","complete":"true","x":650,"y":60,"wires":[]}]