FW_2021_ARCHIVE/SourceCode/Quickstart_Flows/BasicNodes/Common_Function_Nodes.json
[{"id":"c444ccef.c89c2","type":"tab","label":"Common & Function Nodes","disabled":false,"info":""},{"id":"acc0cc91.5b986","type":"inject","z":"c444ccef.c89c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":100,"wires":[["92d975fc.4b8498"]]},{"id":"92d975fc.4b8498","type":"function","z":"c444ccef.c89c2","name":"","func":"msg.payload = msg.payload/1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":100,"wires":[["759a7e0f.b0266"]]},{"id":"759a7e0f.b0266","type":"link out","z":"c444ccef.c89c2","name":"","links":["507988be.5ad7f8"],"x":555,"y":100,"wires":[]},{"id":"fe3a14f0.db86b8","type":"switch","z":"c444ccef.c89c2","name":"Switch Node","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":300,"wires":[["8d122f0d.ddb6c"],["cfc4ba73.86d268"]]},{"id":"a6484924.ae8198","type":"debug","z":"c444ccef.c89c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":360,"wires":[]},{"id":"d0058aca.6928a8","type":"inject","z":"c444ccef.c89c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":300,"wires":[["fe3a14f0.db86b8"]]},{"id":"8d122f0d.ddb6c","type":"change","z":"c444ccef.c89c2","name":"Change node","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["79c75cb4.483a94","c101cb12.e5bf68"]]},{"id":"79c75cb4.483a94","type":"debug","z":"c444ccef.c89c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":300,"wires":[]},{"id":"cfc4ba73.86d268","type":"range","z":"c444ccef.c89c2","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"Range Node","x":450,"y":360,"wires":[["a6484924.ae8198"]]},{"id":"4af453e3.8e0e5c","type":"complete","z":"c444ccef.c89c2","name":"","scope":["79c75cb4.483a94","a6484924.ae8198"],"uncaught":false,"x":130,"y":460,"wires":[["bde9cf0e.de4e7"]]},{"id":"bf94e93c.1c8c78","type":"template","z":"c444ccef.c89c2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":520,"y":520,"wires":[["14f40897.0d9857"]]},{"id":"14f40897.0d9857","type":"debug","z":"c444ccef.c89c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"bde9cf0e.de4e7","type":"function","z":"c444ccef.c89c2","name":"","func":"msg.payload = \"success\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["1e41f88a.464fc7"]]},{"id":"1e41f88a.464fc7","type":"delay","z":"c444ccef.c89c2","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":520,"wires":[["bf94e93c.1c8c78"]]},{"id":"c101cb12.e5bf68","type":"trigger","z":"c444ccef.c89c2","name":"","op1":"hi","op2":"hello","op1type":"str","op2type":"str","duration":"5","extend":false,"overrideDelay":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":540,"y":240,"wires":[["d9cddccd.46d0d"],["79c75cb4.483a94"]]},{"id":"d9cddccd.46d0d","type":"debug","z":"c444ccef.c89c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"12f1cfe4.f6dcf","type":"rbe","z":"c444ccef.c89c2","name":"","func":"rbe","gap":"5","start":"","inout":"out","property":"payload","x":490,"y":620,"wires":[["228af47d.9f495c"]]},{"id":"228af47d.9f495c","type":"debug","z":"c444ccef.c89c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":620,"wires":[]},{"id":"5a3af4d5.97be4c","type":"inject","z":"c444ccef.c89c2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":620,"wires":[["101efcb4.8edf03"]]},{"id":"101efcb4.8edf03","type":"function","z":"c444ccef.c89c2","name":"","func":"msg.payload = Math.floor((Math.random()*2)+1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":620,"wires":[["12f1cfe4.f6dcf"]]}]