SourceCode/Quickstart_Flows/OPCUA/OPCUA_Basic.json
[{"id":"86f67702.9c7268","type":"tab","label":"OPCUA Basic","disabled":false,"info":""},{"id":"d4e0b1aa.57fd5","type":"OpcUa-Client","z":"86f67702.9c7268","endpoint":"851d1293.81c65","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":120,"wires":[["75befabe.948924"]]},{"id":"75aad76d.325938","type":"inject","z":"86f67702.9c7268","name":"Read Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;s=Arp.Plc.Eclr/Bool1;datatype=Boolean;","payload":"","payloadType":"date","x":120,"y":120,"wires":[["d4e0b1aa.57fd5"]]},{"id":"df6f55d3.e70e68","type":"debug","z":"86f67702.9c7268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"2ba1d50b.0ebaaa","type":"OpcUa-Item","z":"86f67702.9c7268","item":"ns=4;s=Arp.Plc.Eclr/Bool1","datatype":"Boolean","value":"","name":"","x":360,"y":200,"wires":[["d4e0b1aa.57fd5"]]},{"id":"94765f7a.dab48","type":"inject","z":"86f67702.9c7268","name":"Read data using item node","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["2ba1d50b.0ebaaa"]]},{"id":"c74ee10d.5c4b4","type":"OpcUa-Browser","z":"86f67702.9c7268","endpoint":"851d1293.81c65","item":"","datatype":"","topic":"ns=4;s=Arp.Plc.Eclr","items":[],"name":"","x":410,"y":300,"wires":[["93191ed5.0f6bc"]]},{"id":"59fd2a53.fe5f54","type":"inject","z":"86f67702.9c7268","name":"Browse Data from OPCUA Server","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":300,"wires":[["c74ee10d.5c4b4"]]},{"id":"93191ed5.0f6bc","type":"debug","z":"86f67702.9c7268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":300,"wires":[]},{"id":"a7ce9e12.c9591","type":"OpcUa-Event","z":"86f67702.9c7268","root":"i=2253","eventtype":"i=2782","name":"Events Read","x":350,"y":60,"wires":[["d4e0b1aa.57fd5"]]},{"id":"2435972e.b8da38","type":"inject","z":"86f67702.9c7268","name":"Read Events","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["a7ce9e12.c9591"]]},{"id":"75befabe.948924","type":"function","z":"86f67702.9c7268","name":"","func":"msg.payload = msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":120,"wires":[["df6f55d3.e70e68"]]},{"id":"851d1293.81c65","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.50.65:4840","secpol":"Basic256Sha256","secmode":"SignAndEncrypt","login":true}]