SourceCode/Quickstart_Flows/InfluxDB/Customized_RP_and_CQ.json
[{"id":"4b377350.0223ac","type":"tab","label":"Influx Retention Policy","disabled":false,"info":"Set of flows to test influxdb retention policies, and continuous queries."},{"id":"7ed3e5aa.5d019c","type":"comment","z":"4b377350.0223ac","name":"Create Default Retention policy","info":"Create Default retaintion policy","x":170,"y":40,"wires":[]},{"id":"a73cf249.ecec5","type":"debug","z":"4b377350.0223ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":100,"wires":[]},{"id":"bdf31bd7.9f53a8","type":"influxdb in","z":"4b377350.0223ac","influxdb":"813a9fab.0b38a","name":"InfluxDB","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"","x":480,"y":100,"wires":[["a73cf249.ecec5"]]},{"id":"28d4a0e3.40cf6","type":"function","z":"4b377350.0223ac","name":"","func":"let database_name = 'plc_database';\nlet policy_name = \"one_hour\";\nlet duration = '1h';\nmsg.query = `CREATE RETENTION POLICY ${policy_name} ON ${database_name} DURATION ${duration} REPLICATION 1 DEFAULT`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":160,"wires":[["bdf31bd7.9f53a8"]]},{"id":"bc60e169.5133","type":"comment","z":"4b377350.0223ac","name":"Show Retention Policy","info":"Show retaintion Policy","x":140,"y":380,"wires":[]},{"id":"cee5c711.0ce168","type":"inject","z":"4b377350.0223ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":440,"wires":[["ac928fbc.828ed"]]},{"id":"ac928fbc.828ed","type":"function","z":"4b377350.0223ac","name":"","func":"let database = \"plc_database\";\n//msg.query = `SHOW RETENTION POLICIES ON ${database}`;\nmsg.query = `SHOW CONTINUOUS QUERIES`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":440,"wires":[["3ef8c599.34158a"]]},{"id":"5e53b478.eb47cc","type":"debug","z":"4b377350.0223ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":440,"wires":[]},{"id":"3ef8c599.34158a","type":"influxdb in","z":"4b377350.0223ac","influxdb":"813a9fab.0b38a","name":"InfluxDB","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"","x":380,"y":500,"wires":[["5e53b478.eb47cc","82ea964b.3a5c58"]]},{"id":"d733fd6f.5a45a","type":"http in","z":"4b377350.0223ac","name":"Get Policy","url":"/getretentionpolicy","method":"get","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["ac928fbc.828ed"]]},{"id":"82ea964b.3a5c58","type":"http response","z":"4b377350.0223ac","name":"","statusCode":"","headers":{},"x":590,"y":500,"wires":[]},{"id":"e41345fd.d52f08","type":"inject","z":"4b377350.0223ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["28d4a0e3.40cf6"]]},{"id":"200072a9.a5cc9e","type":"function","z":"4b377350.0223ac","name":"","func":"let database_name = 'plc_database';\nlet policy_name = \"one_week\";\nlet duration = '1w';\nmsg.query = `CREATE RETENTION POLICY ${policy_name} ON ${database_name} DURATION ${duration} REPLICATION 1 DEFAULT`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":100,"wires":[["bdf31bd7.9f53a8"]]},{"id":"66a20d54.ff6924","type":"inject","z":"4b377350.0223ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":100,"wires":[["200072a9.a5cc9e"]]},{"id":"9f56e89c.1081a8","type":"catch","z":"4b377350.0223ac","name":"","scope":null,"uncaught":false,"x":200,"y":620,"wires":[["41bb98d6.b72658"]]},{"id":"fbc0769.12d5888","type":"debug","z":"4b377350.0223ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":620,"wires":[]},{"id":"41bb98d6.b72658","type":"function","z":"4b377350.0223ac","name":"","func":"msg.payload = {\n    msg: \"Error Caught\",\n    source: msg.error.source,\n    error: msg.error.stack\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":620,"wires":[["fbc0769.12d5888"]]},{"id":"2619c6b0.db8e2a","type":"comment","z":"4b377350.0223ac","name":"Catch Block","info":"catches errors of flow.","x":110,"y":580,"wires":[]},{"id":"42f4741b.830f1c","type":"comment","z":"4b377350.0223ac","name":"Continous Queries","info":"","x":130,"y":260,"wires":[]},{"id":"ecd4cfdb.f6fc8","type":"function","z":"4b377350.0223ac","name":"","func":"let database_name = 'plc_database';\nlet policy_name = \"a_year\";\nlet duration = '52w';\nmsg.query = `CREATE RETENTION POLICY ${policy_name} ON ${database_name} DURATION ${duration} REPLICATION 1`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":220,"wires":[["bdf31bd7.9f53a8"]]},{"id":"17d0cfc8.4c1c7","type":"inject","z":"4b377350.0223ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["ecd4cfdb.f6fc8"]]},{"id":"621631fd.29e5f","type":"inject","z":"4b377350.0223ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":320,"wires":[["77769098.f34f1"]]},{"id":"77769098.f34f1","type":"function","z":"4b377350.0223ac","name":"","func":"let database_name = \"plc_database\";\nlet cq_name = \"cq_30m\";\nmsg.query = `CREATE CONTINUOUS QUERY ${cq_name} ON ${database_name} BEGIN\n  SELECT mean(\"value\") AS \"mean_value\"\n  INTO \"one_week\".\"half_hr_data\"\n  FROM \"RandomData\" \n  GROUP BY time(30m)\nEND`;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":320,"wires":[["bdf31bd7.9f53a8"]]},{"id":"813a9fab.0b38a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"plc_database","name":"DefaultDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]