FW_2021_ARCHIVE/SourceCode/Quickstart_Flows/GCP/GCP.json
[{"id":"d3bedd78.fb436","type":"tab","label":"GCP","disabled":false,"info":""},{"id":"85f7dd33.4b355","type":"inject","z":"d3bedd78.fb436","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello GCP","payloadType":"str","x":170,"y":100,"wires":[["41695c38.20f3a4"]]},{"id":"6e3ebaf2.1517a4","type":"comment","z":"d3bedd78.fb436","name":"Publish Message","info":"","x":120,"y":40,"wires":[]},{"id":"33c0f8f7.e62f68","type":"comment","z":"d3bedd78.fb436","name":"Receive Message","info":"","x":130,"y":180,"wires":[]},{"id":"c6e907ef.062038","type":"debug","z":"d3bedd78.fb436","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"aa48ff9e.db738","type":"function","z":"d3bedd78.fb436","name":"","func":"var str = msg.payload.toString();\nmsg.payload = str.replace(/\\0/,\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":260,"wires":[["fe6d0491.a9bdb8"]]},{"id":"41695c38.20f3a4","type":"google-cloud-pubsub out","z":"d3bedd78.fb436","account":"","keyFilename":"","topic":"projects/active-valve-296201/topics/DemoTopic","name":"Publish","x":350,"y":100,"wires":[["c6e907ef.062038"]]},{"id":"a6a191bb.7aa72","type":"google-cloud-pubsub in","z":"d3bedd78.fb436","account":"","keyFilename":"","subscription":"projects/active-valve-296201/subscriptions/DemoSub2","assumeJSON":false,"name":"Subscribe","x":240,"y":260,"wires":[["aa48ff9e.db738"]]},{"id":"fe6d0491.a9bdb8","type":"debug","z":"d3bedd78.fb436","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":260,"wires":[]},{"id":"c2281b78.37b818","type":"google-cloud-pubsub in","z":"d3bedd78.fb436","account":"","keyFilename":"","subscription":"projects/active-valve-296201/subscriptions/DemoTopic-sub","assumeJSON":false,"name":"Subscribe","x":240,"y":320,"wires":[["23714d51.a23b72"]]},{"id":"7ad883da.145f3c","type":"debug","z":"d3bedd78.fb436","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":320,"wires":[]},{"id":"23714d51.a23b72","type":"function","z":"d3bedd78.fb436","name":"","func":"var str = msg.payload.toString();\nmsg.payload = str.replace(/\\0/,\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":320,"wires":[["7ad883da.145f3c"]]}]