FW_2021_ARCHIVE/SourceCode/Quickstart_Flows/GCP/Translate.json
[{"id":"145dc86f.cd8118","type":"tab","label":"Translation","disabled":false,"info":"Perform a translation of a piece of text from one language to another."},{"id":"385ed155.14a31e","type":"google-cloud-translate","z":"145dc86f.cd8118","account":"","keyFilename":"","projectId":"kolban-test","sourceLanguageCode":"en","sourceLanguageCodeType":"str","targetLanguageCode":"hi","targetLanguageCodeType":"str","name":"","x":370,"y":160,"wires":[["6e1b8a11.7886c4"]]},{"id":"5f087135.133fa","type":"inject","z":"145dc86f.cd8118","name":"","props":[{"p":"payload","v":"Hello.  What time is dinner?","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello.  What time is dinner?","payloadType":"str","x":190,"y":160,"wires":[["385ed155.14a31e"]]},{"id":"6e1b8a11.7886c4","type":"debug","z":"145dc86f.cd8118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":160,"wires":[]},{"id":"eacdf88b.c72178","type":"comment","z":"145dc86f.cd8118","name":"Translate from one language to another","info":"","x":260,"y":60,"wires":[]}]